@using sp19team9finalproject.Controllers
@using sp19team9finalproject.Models

@{
    ViewBag.Title = "Detailed Search";
}

<h2>Search for Students</h2>
<form asp-action="DisplaySearchResults" asp-controller="Student" method="get">
    <div class="alert-danger"></div>

    <div class="form-group">
        <label>PositionType:</label>
        <input name="PositionType" class="form-control" />
        <label class="radio">@Html.RadioButton("SelectedPositionType", PositionType.FullTime, true) Full Time</label>
        <label class="radio">@Html.RadioButton("SelectedPositionType", PositionType.Internship) Internship</label>
    </div>

    <div class="form-group">
        <label>Select Major:</label>
        @Html.DropDownList("SelectedMajor", (SelectList)ViewBag.AllMajors, new { @class = "form-control" })
    </div>


    <div>
        <label>Graduation date:</label>
        <input type="date" name="datReleased" class="form-control">
    </div>

    <div class="form-group">
        <label>GPA:</label>
        <input name="EnteredGPA" class="form-control" />
    </div>

        <div class="form-group">
            <button type="submit" class="btn btn-danger">Search</button>
        </div>
</form>
