@using sp19team9finalproject.Controllers
@using sp19team9finalproject.Models

@{         
    ViewBag.Title = "Detailed Search";
}      

<h2>Search for Positions</h2>     
<form asp-action="DisplaySearchResults" asp-controller="Position" method="get">
    <div class="alert-danger"></div>

    <div class="form-group">
        <label>Company:</label>
        <input name="CompanySearchString" class="form-control" />
    </div>

    <div class="form-group">
        <label>Industry:</label>
        <input name="IndustrySearchString" class="form-control" />
    </div>

    <div class="form-group">
        <label>Position Type:</label>
        <label class="radio">@Html.RadioButton("SelectedPositionType", PositionType.FullTime, true) Full Time</label>
        <label class="radio">@Html.RadioButton("SelectedPositionType", PositionType.Internship) Internship</label>
    </div>

    <div class="form-group">
        <label>Applicable Major:</label>
        @Html.DropDownList("SelectedMajor", (SelectList)ViewBag.AllMajors, new { @class = "form-control" })
    </div>


    <div class="form-group">
        <label>Location:</label>
        <input name="Location" class="form-control" />
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-danger">Search</button>
    </div>
</form>